@import "tailwindcss";

.text-gradient{
  @apply bg-clip-text text-transparent bg-linear-to-r from-red-500 to-orange-300;
}

.wrapper{
  background-image: url('/assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  /* vh = viewport height 1vh = 1% of the screen height*/
  min-height:100vh;
}

.movie-grid{
  @apply grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-4
}

.movie-card{
  @apply bg-linear-to-r p-3 from-orange-300 to-red-500 rounded-xl opacity-90 duration-300 hover:scale-87 ;
}

